{{> head }}
{{> navbar }}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Dragon</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident alias dignissimos consequatur saepe
                recusandae, quaerat laudantium sed facere quis, labore eveniet a assumenda quisquam maxime tempore,
                possimus minima numquam amet.
            </p>
        </div>
        <div class="col-4">
            <img width="300" src="assets/img/dragon.png" class="img-thumbnail" alt="dragon">
        </div>
    </div>
</div>
{{> footer }}